/* IMPORTED FROM FLASHCORD BETA bSID-2311XX DEV-NOV 231105 */

/* Imagivid Zoom Core */
[class^="layer_"]:has([class^="focusLock_"] [class*="downloadLink_"]) {
  container-name: var(--FlashCore-ImagividZoom, FC-ImagividZoom);
  container-type: inline-size;
  contain: paint;
}

@container FC-ImagividZoom (min-width: 0px) {
  [class^="focusLock_"] [class^="imageWrapper_"]:hover { 
      width: 90vw !important;
      /*will-change: width, height;*/
  }
  [class^="focusLock_"] [class^="imageWrapper_"] { 
      height: auto !important;
      transition-property: width, height;
      transition-duration: var(--Flashcord-TransMult-Slow, 500ms) !important;
  }
  [class^="focusLock_"] [class^="imageWrapper_"] [class^="wrapper-"] { 
      width: auto !important;
      height: auto !important;
  }
  [class^="focusLock_"] > div { 
      display: flex;
      justify-content: center;
      align-items: flex-start;
      overflow: scroll;
      flex-direction: row;
  }
  [class^="carouselModal-"] {
      justify-content: flex-start !important;
  }
  [class^="focusLock_"] img, [class^="focusLock_"] video, [class^="imageWrapper_"] [class^="wrapper"] {
      width: 100% !important;
      height: 100% !important;
      max-width: 100% !important;
      max-height: 100% !important;
      object-fit: contain;
      overflow: scroll;
  }
  [class^="anchor_"] {
      display: none;
  }
  [class*="modalCarouselWrapper_"] {
      -webkit-box-align: unset !important;
      align-items: unset !important;
      margin: auto;
      position: static;
  }
  [class*="modalCarouselWrapper_"] button {
      margin: 0;
  }
}